<footer class="container-fluid bg-grey py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="logo-part">
              <h1>MePass</h1>
              <p>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                Linh Trung, Thủ Đức, TP.HCM
              </p>
              <p>
                <i class="fa fa-envelope" aria-hidden="true"></i> mepass@gmail.com
              </p>
              <p>
                <i class="fa fa-phone" aria-hidden="true"></i> 099-9199-456
              </p>
            </div>
          </div>
          <div class="col-md-6 px-4">
            <h6>Slogan</h6>
            <p>Mang Tiếng Anh đến cho mọi người !</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 px-4">
            <h6>Help us</h6>
            <ul>
              <li><a href="/user/payment">Premium</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <h6>Follow us</h6>
            <div class="social">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <p>&copy; 2025 MePass. All rights reserved.</p>
  </div>
</footer>