<div class="goal-section">
    <div class="section-header">
        <i class="fas fa-bullseye"></i>
        <h2>Mục tiêu bạn muốn</h2>
    </div>
    <div class="score-container">
        <div class="score-box">
            <div class="score-label">
                <i class="fas fa-chart-line"></i>
                Overall Score
            </div>
            <div class="score-value" id="overall-score">--</div>
        </div>
        <div class="score-box">
            <div class="score-label">
                <i class="fas fa-book-reader"></i>
                Reading
            </div>
            <div class="score-value" id="reading-score">--</div>
        </div>
        <div class="score-box">
            <div class="score-label">
                <i class="fas fa-headphones"></i>
                Listening
            </div>
            <div class="score-value" id="listening-score">--</div>
        </div>
        <div class="score-box">
            <div class="score-label">
                <i class="fas fa-pencil-alt"></i>
                Writing
            </div>
            <div class="score-value" id="writing-score">--</div>
        </div>
        <div class="score-box">
            <div class="score-label">
                <i class="fas fa-microphone-alt"></i>
                Speaking
            </div>
            <div class="score-value" id="speaking-score">--</div>
        </div>
    </div>
</div>