
    <div class="row" style="height: 10%; background-color: var(--primary-color);">
        <div class="header">
            <img src="/assets/book_icon.png" alt="book" style="height: 85%; width: auto; object-fit: contain; margin-right: 3%;">
            <h1 id="quiz-type-label" style="align-items: center;"></h1>
            <div class="header" style="justify-content: flex-end; margin-left: auto; align-items: center;">
                <img src="/assets/clock_icon.png" alt="clock" style="height: 85%; width: auto; object-fit: contain; margin-right: 3%;">
                <div class="time" id="timer"></div>
            </div>
        </div>
    </div>
