<div style="display: flex; flex-direction: row; margin-top: 5%;">
    <img src="../assets/background_homepage_2.png" style="width: 50%; height: 100%;" class="img-fluid"
        alt="Background homepage 2" />
    <div style="margin-left: 3%;">
        <div style="margin-top: 5%;">
            <h1 style="font-size: 60px;"><strong>Premium <span style="color: #FF7426;">Learning</span>
                    Experience</strong></h1>
            <img src="../assets/global.png"
                style="width: 10%; height: 10%; margin-left: 30%; position:absolute; z-index: -10;" />
        </div>
        <div style="display: flex; flex-direction: row; margin-left: 5%;">
            <button class="premium-btn" style="margin-top: 5%;"></button>
            <div style="margin-top: 5%;">
                <div>
                    <h3><strong>Easily Accessible</strong></h3>
                </div>
                <div>
                    There are many variations of passages of Lorem Ipsum.
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; margin-left: 5%;">
            <button class="premium-btn" style="margin-top: 5%;"></button>
            <div style="margin-top: 5%;">
                <div>
                    <h3><strong>Fun learning expe</strong></h3>
                </div>
                <div>
                    Learning Will fell Very Comfortable With Courslab.
                </div>
            </div>
        </div>
        <button class="premium-buy-btn" style="margin-top: 5%; background-color: #801F63;"><strong>Buy now
                $20</strong></button>
    </div>
</div>