<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
</head>

<body>
    {{#if name}}
    {{> userloginnavi name=name avatar=avatar}}
    {{else}}
    {{> header }}
    {{/if}}
    {{{ body }}}
    {{> footer }}
    <script src="../scripts/homepage.js">
        console.log(name);
    </script>
</body>

</html>