<div style="display: flex; flex-direction: row; margin-top: 5%; margin: 5%;">
    <div style="margin-left: 3%; display: flex; flex-direction: column;">
        <img src="assets/background_label2.png" style="width: 60%; height: auto; margin: 5%;" alt="Label2" />
        <img src="assets/background_dashboard.png" style="width: 90%; height: auto; margin: 5%;" alt="Label2" />
    </div>
    <div class="row" style="margin-top: -3%;">
        {{!-- {{#each cards}}
        <div class="col-6">
            {{> cardview this}}
        </div>
        {{#if @last}} <!-- Thêm điều kiện tùy ý nếu muốn -->
        <div class="clearfix"></div>
        {{/if}}
        {{/each}} --}}
        {{> cardview this}}
        {{> cardview this}}
        {{> cardview this}}
        {{> cardview this}}
    </div>
</div>
<div>
    {{> compact-table dataTable}}
</div>
<div style="display: flex; flex-direction: row; justify-content: space-evenly; margin-top: 5%;">
    {{> goal}}
    {{> calender}}
</div>
<div style="background-color: #CBE9FF; width: 25%; height: 10%; margin-left: 37%; margin-top: 5%; padding: 2%; border-radius: 20px;">
    {{> target}}
</div>