<body>
        <div class="row middle" style="padding: 1%;">
            <div class="col-lg-6 col-12" id="left-column" style="border-right: 1px solid black;">
                <div style="display: flex; flex-direction: row; justify-content: flex-end;">
                    <!-- Tab Navigation with Icons and Text -->
                    <ul class="nav nav-tabs" id="mode-do-test" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="highlight-tab" data-bs-toggle="tab" href="#highlight" role="tab" aria-controls="highlight" aria-selected="true" onclick="HighlightText();">
                        <i class="fas fa-highlighter"></i> Highlight
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="vocab-tab" data-bs-toggle="tab" href="#vocab" role="tab" aria-controls="vocab" aria-selected="false" onclick="makeWordsClickable(document.getElementById('quiz-content-vocab'));">
                        <i class="fas fa-book"></i> Tra từ
                        </a>
                    </li>
                    </ul>
                </div>
                <h1 id="quiz-title"></h1>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane show active" id="highlight" role="tabpanel" aria-labelledby="highlight-tab">
                        <div align="justify">
                            <p id="quiz-content-highlight"></p>
                        </div>
                    </div>
                    <div class="tab-pane" id="vocab" role="tabpanel" aria-labelledby="vocab-tab">
                        <div id="quiz-content-vocab" align="justify"></div>
                    </div>
                </div>
                {{!-- Vocab Definitions --}}
                <div class="offcanvas offcanvas-bottom offcanvas-container" tabindex="-1" id="vocab-offcanvasBottom" aria-labelledby="offcanvasBottomLabel" style=" z-index: 0;">
                    <div class="offcanvas-header" style="padding: 1% 2%">
                        <div style="display: flex; flex-direction: column; width: 50%; height: auto">
                            <div style="display: flex; flex-direction: row; width: 100%; height: auto">
                                <h5 class="vocab-offcanvas-title" id="vocab-value" style="height: auto"></h5>
                                <p id="vocab-ipa" style="margin-left: 10px;"></p>
                            </div>
                            <div style="display: flex; flex-direction: column; width: 100%; height: auto">
                                <p id="vocab-word-class" style="font-style: italic; padding: 0% 0%; height: auto"></p>
                                <h5 id="vocab-meaning" style="font-weight: bold; padding: 0% 0%; height: auto"></h5>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; width: 50%; flex-wrap: wrap"> 
                            <div style="display: flex; flex-direction: row; width: 100%; height: 50%; justify-content: flex-end;">
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" onclick="removeUnderlineWord()"></button>
                            </div>
                            <div style="display: flex; flex-direction: row; width: 100%; height: 50%; justify-content: end; margin-right:10%;">
                                <button class="image-button">
                                    <i class="far fa-thumbs-up feedback-icon" data-name="thumbs_up" data-ischeck="false" vote-type="up"></i> 
                                </button>
                                <button class="image-button">
                                    <i class="far fa-thumbs-down feedback-icon" data-name="thumbs_down" data-ischeck="false" vote-type="down"></i> 
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="offcanvas-body">
                        <div style="width: 100%; height: auto; display: flex; flex-direction: column; flex-wrap: wrap;">
                            <p id="vocab-verb-structure" ></p>
                            <p id="vocab-example"></p>
                            <p id="vocab-explanation"></p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12" id="right-column">
                <div id="question-area" style="padding: 5%;">

                </div>
            </div>
        </div>
     <script>
        // Lắng nghe sự kiện click trên toàn trang
        document.addEventListener('click', function(event) {
            const offcanvas = document.getElementById('vocab-offcanvasBottom');
            const offcanvasInstance = bootstrap.Offcanvas.getInstance(offcanvas);
            if (!event.target.closest('.vocab-word') && !offcanvas.contains(event.target) && offcanvas.classList.contains('show')) {
                offcanvasInstance.hide();
                removeUnderlineWord();
            }
        });
        document.addEventListener('click', (event) => {
            const flyout = document.getElementById('flyout-menu-unhighlighted-text');
            const selection = window.getSelection();
            
            if (flyout && selection.toString() === "") {
                document.body.removeChild(flyout);
            }
        });
    </script>
    <script src="../scripts/dotestpage.js"></script>
</body> 
