<div style="display:flex; flex-direction: row;">
  <div style="display: flex; flex-direction: column;">
    <img src="assets/background_label1.png" style="width: 60%; height: auto; margin: 15%;" alt="Label1" />
    <div style="display: flex; flex-direction: row; margin-left: 20%; margin-top: -12%;">
      <button id="learn-btn">Thử ngay</button>
    </div>
  </div>
  <img src="assets/background_homepage_1.png" style="width: 40%; height: 100%; margin-top: 10%;" class="img-fluid"
    alt="Background homepage 1" />
</div>
<div style="display: flex; flex-direction: row; justify-content: center; margin-top: 5%;">
  <div class="card" style="width: 18rem; margin-right: 2%;">
    <div class="card-body" align="justify">
      <h5 class="card-title"><b>Bắt đầu ngay hôm nay</b></h5>
      <p class="card-text">Khám phá các bài học tương tác và trải nghiệm học tập cá nhân hóa. Tìm hiểu một loạt các khóa
        học được thiết kế để phù
        hợp với nhu cầu của bạn và giúp bạn đạt được thành công. Bắt đầu hành trình của bạn với MePass ngay bây giờ!</p>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-right: 2%;">
    <div class="card-body" align="justify">
      <h5 class="card-title"><b>Học với MePass</b></h5>
      <p class="card-text">
        MePass là nền tảng học trực tuyến cung cấp các khóa học linh hoạt và hấp dẫn trên nhiều lĩnh vực. Dù bạn muốn
        cải thiện
        kỹ năng hay bắt đầu điều gì mới, MePass giúp bạn đạt được mục tiêu theo tốc độ của riêng bạn.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-right: 2%;">
    <div class="card-body" align="justify">
      <h5 class="card-title"><b>Khai phá tiềm năng</b></h5>
      <p class="card-text">MePass cung cấp các khóa học chất lượng cao được thiết kế dành cho cả sinh viên và chuyên
        gia. Nâng cao kỹ năng, tiếp
        thu kiến thức mới và phát triển cùng MePass, bất cứ lúc nào và ở bất cứ đâu.</p>
    </div>
  </div>
</div>
<div style="display: flex; flex-direction: row;">
  <div style="display: flex; flex-direction: column;">
    <img src="assets/background_label2.png" style="width: 60%; height: auto; margin: 10%;" alt="Label2" />
    <img src="assets/light.png"
      style="width: 10%; height: 10%; margin-left: 30%; margin-top: 5%; position:absolute; z-index: -10;" />
    <div style="width: 70%; margin-left: 10%; margin-top: -5%;" align="justify">
      <h6 style="color: gray">
        MePass là nền tảng học trực tuyến sáng tạo được thiết kế để giúp sinh viên đạt được các mục tiêu phát triển học
        tập và
        cá nhân. Với một loạt các khóa học và công cụ tương tác, MePass cung cấp trải nghiệm học tập cá nhân hóa trên
        nhiều lĩnh
        vực, bao gồm ngôn ngữ, công nghệ, kinh doanh và nhiều hơn nữa. Dù bạn muốn cải thiện kỹ năng tiếng Anh, học lập
        trình
        hay nâng cao triển vọng nghề nghiệp, MePass cung cấp một môi trường học tập hấp dẫn và dễ sử dụng để thúc đẩy sự
        phát
        triển. Tham gia cùng chúng tôi hôm nay và bắt đầu hành trình học tập của bạn với MePass!
      </h6>
      <img src="assets/pencil.png"
        style="width: 10%; height: 10%; margin-left: 30%; position:absolute; z-index: -10;" />
    </div>
  </div>
  <div style="display: flex; flex-direction: row; margin-top: 10%; margin-right: 5%;">
    <div class="card" style="width: 18rem;">
      <img src="assets/boy.png" class="card-img-top" alt="Boy">
      <div class="card-body" style="background-color: #FDF8EE;" align="justify">
        <h5 class="card-title"><strong>Học với MePass</strong></h5>
        <p class="card-text">MePass là nền tảng học trực tuyến cung cấp các khóa học linh hoạt và hấp dẫn trên nhiều
          lĩnh vực. Dù bạn muốn cải thiện
          kỹ năng hay bắt đầu điều gì mới.</p>
        <a href="#" class="btn btn-primary">Bắt đầu ngay</a>
      </div>
    </div>
    <div class="card" style="width: 18rem; margin-left: 5%; background-color: #FDF8EE;" align="justify">
      <img src="assets/boy.png" class="card-img-top" alt="Boy">
      <div class="card-body">
        <h5 class="card-title"><strong>Bắt đầu ngay hôm nay</strong></h5>
        <p class="card-text">MePass cung cấp các bài học tương tác và trải nghiệm học tập cá nhân hóa. Tham gia ngay và
          khám phá một loạt các khóa
          học phù hợp với nhu cầu của bạn và giúp bạn thành công.</p>
        <a href="#" class="btn btn-primary">Bắt đầu ngay</a>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      document.getElementById('learn-btn').addEventListener('click', function () {
        window.location.href = '/user/dashboard';
      });
  });
</script>

<script defer src="scripts/homepage.js"></script>