<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/login_register_page.css" />
    <link rel="stylesheet" href="/styles/colors.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Font Awesome -->
    <script src="/scripts/loginpage.js" defer></script>
    <script src="/scripts/loginValidation.js" defer></script>
    <style>
        #signup-mode {
            background-color: transparent;
        }
    </style>
</head>

<body>
    <div id="container">
        <img src="/assets/background_login.png" alt="MePass" class="img-fluid" />
        <div id="container-form" style="border: 3px solid rgb(156, 160, 163); border-radius: 20px;">
            <h1 style="margin-left: 0em;">MePass chào bạn !</h1>
            <div id="tag-sign">
                <button id="login-mode">Đăng nhập</button>
                <button id="signup-mode">Đăng ký</button>
            </div>
            <p style="text-align: center;">
                Trang web của chúng tôi được thiết kế để giúp bạn cải thiện kỹ năng tiếng Anh một cách toàn diện và hiệu
                quả.
            </p>
            <form action="/user/auth/loginAuth" method="POST" id="loginForm">
                <div class="input-group">
                    <label for="username">Email</label>
                   
                    <input type="email" class="input-text" name="email" id="email" required placeholder="Nhập email" />
                      
                
                </div>
                <div class="error-message" id="email-error"></div>
                <div class="input-group">
                    <label for="password">Mật khẩu</label>
                    <input type="password" class="input-text" id="password" name="password" required
                        placeholder="Nhập mật khẩu" />
                </div>
                <div class="error-message" id="login-error"></div>
                <div class="forget">
                    <div class="checkbox">
                        <input type="checkbox" name="remember" />
                        <label for="remember">Nhớ mật khẩu</label>
                    </div>
                    <div class="forget-pass">
                        <a id="forget-pass" href="/user/forget_password" style="text-decoration: none;">Quên mật
                            khẩu?</a>
                    </div>
                </div>
                <button id="log" type="submit" style="margin-top: 5%; height:3em; width:62%; margin-left: 19%;">Đăng
                    nhập</button>
            </form>
            <hr />
            <button id="log" onclick="window.location.href='/user/auth/login/gg'" style="height:3em; width:50%;">
                <img src="/assets/google_icon.png" alt="Google Icon" style="width: 15px; height: 15px;" />
                Đăng nhập với Google
            </button>
        </div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const storedEmail = sessionStorage.getItem('email');
        const storedPassword = sessionStorage.getItem('password');
        if (storedEmail && storedPassword) {
            document.getElementById('email').value = storedEmail;
            document.getElementById('password').value = storedPassword;
            document.querySelector('input[name="remember"]').checked = true;
        }
        document.querySelector('form').addEventListener('submit', function (event) {
            const rememberMeChecked = document.querySelector('input[name="remember"]').checked;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            if (rememberMeChecked) {
                sessionStorage.setItem('email', email);
                sessionStorage.setItem('password', password);
            } else {
                sessionStorage.removeItem('email');
                sessionStorage.removeItem('password');
            }
        });
        document.getElementById('signup-mode').addEventListener('click', function () {
            window.location.href = '/user/register';
        });
    });
</script>

</html>