<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href=".././styles/login_register_page.css" />
    <link rel="stylesheet" href=".././styles/colors.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Font Awesome -->
    <script src=".././scripts/registerpage.js" defer></script>
    <style>
        #login-mode {
            background-color: transparent;
        }
    </style>
</head>

<body>
    <div id="container">
        <img src=".././assets/background_login.png" alt="MePass" class="img-fluid" />
        <div id="container-form" style="border: 3px solid rgb(148, 156, 162); border-radius: 20px;">
            <h1 style="margin-left: 0em;">MePass chào bạn !</h1>
            <div id="tag-sign">
                <button id="login-mode">Đăng nhập</button>
                <button id="signup-mode">Đăng ký</button>
            </div>
            <p style="text-align: center;">
                Trang web của chúng tôi được thiết kế để giúp bạn cải thiện kỹ năng tiếng Anh một cách toàn diện và hiệu
                quả.
            </p>
            <form action="#" method="POST">
                <div class="input-group">
                    <label for="username">Email</label>
                    <input type="email" class="input-text" name="username" required placeholder="Nhập email" />
                </div>
                <div class="input-group">
                    <label for="name">Họ tên</label>
                    <input type="text" class="input-text" name="name" required placeholder="Nhập họ tên" />
                </div>
                <div class="input-group">
                    <label for="password1">Mật khẩu</label>
                    <input type="password" class="input-text" id="password1" name="password1" required
                        placeholder="Nhập mật khẩu" />
                </div>
                <div class="input-group">
                    <label for="password2">Xác nhận</label>
                    <input type="password" class="input-text" id="password2" name="password2" required
                        placeholder="Nhập lại mật khẩu" />
                </div>
            </form>
            <button id="log" type="submit" style="margin-top: 5%; height:3em; width:50%;">Đăng ký</button>
            <hr>
            <button id="log" onclick="window.location.href='/user/login/gg'" style="height:3em; width:50%;">
                <img src=".././assets/google_icon.png" alt="Google Icon" style="width: 15px; height: 15px;" />
                Đăng nhập với Google
            </button>
        </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('login-mode').addEventListener('click', function () {
            window.location.href = '/user/login';
        });
    });
</script>

</html>