<body>
        <div class="row middle" style="padding: 1%;">
            <div class="col-lg-6 col-12" id="left-column" style="border-right: 1px solid black;">
                <h1 id="quiz-title"></h1>
                <div align="justify">
                    <p id="quiz-content-highlight"></p>
                </div>

            </div>
            <div class="col-lg-6 col-12" id="right-column">
                <div id="question-area" style="padding: 5%;">

                </div>
            </div>
        </div>
    <script src="../scripts/test_explanation.js"></script>
</body> 