:root {
    --background-color: #BDE3F2;
    --primary-color: #81D3E5;
    --secondary-color: #fff;
    --text-color: #000;
    --highlight-color: white;
    --hover-color: #221db0;
    --eye-color1: #555;
    --eye-color2: #000;
    --bg-color: #0E5470;
    --footer-color: white;
    --footer-bg: grey;
    --btn-footer-color: grey;
    --input-bg: #232323;
    --input-color: #fff;
    --social-bg: #3c3c3c;
    --hover-color: #f5f5f5;
    --logo-border: grey;
    --btn-bg: #fff;
    --learn-btn-bg: #4856DF;
    --premium-btn-bg: #4D2C5E;
    --premium-buy-btn-shadow: #000;
    --border-item-color: #49BBBD;
    --nav-header-bar-color: #769CAB;
    --footer-dotest-color: #658BA7;
    --question-order-color: #DA6C67;
}