:root {
    --background-color: #BDE3F2;
    --primary-color: #81D3E5;
    --secondary-color: #fff;
    --text-color: #000;
    --highlight-color: white;
    --hover-color: #221db0;
    --eye-color1: #555;
    --eye-color2: #000;
}