body {
    background-color: var(--background-color);
    font-size: 16px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.625em;
}

h1 {
    margin-left: 5em;
}

img {
    margin-top: 6.25em;
    width: 31.25em;
    height: 31.25em;
    grid-column: 1;
}

h3 {
    margin-top: 6em;
    margin-left: 9.375em;
    z-index: 1000;
    position: absolute;
    font-size: 1.5em;
    color: var(--text-color);
}

h4 {
    margin-top: -3.125em;
    margin-left: 9.375em;
    z-index: 1000;
    position: absolute;
    font-size: 0.875em;
    color: var(--highlight-color);
}

#container-image {
    grid-column: 1;
    text-align: center;
}

#container-form {
    grid-column: 2;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 6.25em;
    margin-top: 4.375em;
}

#tag-sign {
    display: flex;
    background-color: var(--primary-color);
    width: 12.5em;
    height: 2.5em;
    justify-content: space-around;
    align-items: center;
    border-radius: 1.25em;
    margin-left: 14.375em;
}

.input-text {
    width: 12.5em;
    height: 1.875em;
    border-radius: 1.25em;
    border: none;
    margin: 1.25em;
    padding-left: 0.9375em;
}

button {
    width: 5em;
    height: 1.5625em;
    border-radius: 1.25em;
    border: none;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.forget {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.checkbox {
    grid-column: 1;
    text-align: right;
}

#forget-pass {
    grid-column: 2;
    cursor: pointer;
    color: var(--text-color);
}

#forget-pass:hover {
    color: var(--hover-color);
    cursor: pointer;
}

hr {
    width: 12.5em;
    margin-right: 12.5em;
}

#log {
    width: 12.5em;
    height: 1.875em;
    border-radius: 1.25em;
    border: none;
    margin-top: 0.625em;
    text-align: center;
    margin-left: 3.125em;
    background-color: var(--primary-color);
}